.o {

    color: blue;
    font-family:cursive;   
        }
        .amal {
            display: block; 
        }
.j {
    color: green;
    font-family: cursive;
     

}
.f{
    font-family: cursive;
}
#xxx{
    padding-left: 3%;

}