h1{
    margin: 0;
}
body{ 
    background-color: lightyellow;
}
.r{
    margin: auto 10%;
    width: 500px;
    height: 500px;
}
#nn{
    height: 15%;
    background-color: #dada00;
}

#zz {
    background-color: white;
    padding: 10px;
    margin: 5px 0;
    width: 70%;
    height: 100%;
    overflow: hidden;
    position: relative;
}
aside{
    float: right;
    position: relative;
    top: 10;
    top: -106%;
    right: 0%;
    height: 105%;
    width: 26%;
    background-color: rgb(158 158 158 / 45%);
}
footer{
    background-color: #6d6b6b;
    width: 100%;
    height: 5%;
    color: white;
    position: relative;
    bottom: -12%;
}
.bb{
    width: 700px;
    height: 600px;
}
